<%= hidden_field :authorization_handler, :handler_name, value: "socio_demographic_authorization_handler" %>
<div class="card-section">
  <div class="field">
    <%= form.select :scope, current_organization.scopes.map { |scope| [translated_attribute(scope.name), scope.code.downcase] } %>
  </div>
  <div class="field">
    <%= form.select :gender, %w(Man Woman Undefined).map { |gender| [I18n.t(gender.downcase, scope: "decidim.verifications.genders"), gender.downcase] } %>
  </div>

  <div class="field">
    <%= form.select :age, %w(16-25 26-45 46-65 65+).map { |slice| [slice, slice] } %>
  </div>
</div>
